body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navigation {
	background-color: #333;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

.navigation a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

.navigation a:hover {
	color: #ddd;
}


.class-navigation {
	background-color: #626262;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

.class-navigation a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

.navigation a:hover {
	color: #ddd;
}